/* General Rules */

* {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 14px;
}

img {
  width: 100%;
}

.image-container img {
  opacity: 0.7;
}

/* Navbar Styling */

.navbar-default .navbar-nav>li>a {
	font-size: 1.1rem;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>.active{
	color: #399bd1;

}

.navbar-default .navbar-nav>li>.active:hover{
	color: #399bd1;
}

.container-fluid {
  display: flex;
  align-items: center;
}
ul.nav.navbar-nav {
  flex-grow: 1;
}

/* Jumbotron Styling */

.jumbotron {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.jumbotron-bike {
	background-image: url("../media/jumbotron-bike.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron .text-content {
	width: 51.3rem;
	text-align: center;
	padding: 11.85rem 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.jumbotron .text-content h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.jumbotron .text-content p {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

  /* Jumbotron Button */

.jumbotron .button {
	margin-top: 2.8rem;
	padding: 1.3rem;
	width: 11.4rem;
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.jumbotron .button:hover {
	box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.jumbotron .button:active {
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.jumbotron .button a {
	color: white;
	text-decoration: none;
}

/* Featured Section */

.featured {
  padding: 0 50px;
  display: flex;
  flex-flow: column wrap;
}

.featured h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  padding-bottom: 20px;
}

.featured h3 {
	font-size: 1.3rem;
}

.featured h4 {
	font-size: 1.3rem;
	font-weight: bold;
	color: #399bd1;
}

.featured li {
	line-height: 1.4;
	color: rgba(0,0,0,0.7);
}

/* Projects Section */

.projects {
	padding: 0 50px 5.85rem 50px;
	display: flex;
	flex-flow: row wrap;
}

.projects h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  padding-bottom: 20px;
}

.projects h3 {
	font-size: 1.3rem;
}

/* Having Trouble? (Supporting) Section */

.supporting {
	display: flex;
	flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
	text-align: center;
	padding: 5.2rem 0;
	background-color: #f3f3f3;
}

.supporting .text-content {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 42rem;
}

.supporting strong {
	font-size: 2.5rem;
	font-weight: bold;
	padding-bottom: 1.4rem;
}

.supporting .button {
	margin-top: 2.8rem;
	padding: 1.3rem;
	width: 11.4rem;
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.supporting .button a {
	color: white;
	text-decoration: none;
}

.supporting .button:hover {
	box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.supporting .button:active {
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}
